<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="map" style="width:100%;height:400px;"></div>
        </div>
        <div class="col">
            <div class="row" id="address">
                <input type="text" class="form-control" name="address-input" placeholder="도로명 주소" aria-label="도로명 주소">
            </div>
            <div class="row">
                <button class="btn btn-outline-secondary"
                        type="button"
                        onclick="addInput()"
                ><i class="bi bi-plus-circle"></i></button>
            </div>
            <div class="row">
                <button class="btn btn-outline-secondary"
                        type="button"
                        onclick="addMarker()"
                >마커 추가</button>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script>
    const map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5666805, 126.9784147),
        zoom: 10,
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_RIGHT
        },
        mapTypeId: naver.maps.MapTypeId.NORMAL
    });

    const infoWindow = new naver.maps.InfoWindow();

    function onSuccessGeolocation(position) {
        const location = new naver.maps.LatLng(position.coords.latitude,
            position.coords.longitude);

        map.setCenter(location);
        map.setZoom(10);
    }

    $(window).on("load", function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(onSuccessGeolocation, null);
        } else {
            const center = map.getCenter();
            infoWindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation 미지원</h5></div>');
            infoWindow.open(map, center);
        }
    });

    let markers = {};

    function addInput() {
        const newInput = document.createElement("input");
        newInput.setAttribute("type", "text");
        newInput.setAttribute("class", "form-control");
        newInput.setAttribute("name", "address-input");
        newInput.setAttribute("placeholder", "도로명 주소");
        newInput.setAttribute("aria-label", "도로명 주소");
        document.getElementById("address").appendChild(newInput);
    }

    function clearMarkers() {
        const markerInstances = Object.values(markers);
        for (let i = 0; i < markerInstances.length; i++) {
            markerInstances[i].setMap(null);
        }

        markers = {};
    }

    function addMarker() {
        const addressInputs = document.getElementsByName("address-input");
        clearMarkers();
        for (let i = 0; i < addressInputs.length; i++) {
            const query = addressInputs[i].value;
            naver.maps.Service.geocode({
                query: query
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK || response.v2.meta.totalCount === 0) {
                    addressInputs[i].setAttribute("class", "form-control is-invalid");
                    return;
                }

                const result = response.v2;
                const items = result.addresses;
                markers = {
                    ...markers,
                    [query]: new naver.maps.Marker({
                        position: new naver.maps.LatLng(items[0].y, items[0].x),
                        map: map
                    })
                };

                addressInputs[i].setAttribute("class", "form-control");
            });
        }
    }
</script>
</body>
</html>