<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="map" style="width:100%;height:400px;"></div>
        </div>
        <div class="col">
            <div class="row" id="address">
                <div class="input-group">
                    <input type="text" class="form-control" name="name-input" placeholder="명칭" aria-label="명칭">
                    <input type="text" class="form-control w-auto" name="address-input" placeholder="도로명 주소" aria-label="도로명 주소">
                    <button class="btn btn-outline-secondary" name="pin-button">고정</button>
                    <button class="btn btn-outline-secondary" name="location-button">위치로</button>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-outline-secondary"
                        type="button"
                        onclick="addInput()"
                ><i class="bi bi-plus-circle"></i></button>
            </div>
            <div class="row">
                <button class="btn btn-outline-secondary"
                        type="button"
                        onclick="addMarker()"
                >마커 추가</button>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script>
    const map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5666805, 126.9784147),
        zoom: 10,
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_RIGHT
        },
        mapTypeId: naver.maps.MapTypeId.NORMAL
    });

    const infoWindow = new naver.maps.InfoWindow();

    function onSuccessGeolocation(position) {
        const location = new naver.maps.LatLng(position.coords.latitude,
            position.coords.longitude);
        map.setCenter(location);

        map.setZoom(10);
    }
    $(window).on("load", function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(onSuccessGeolocation, null);
        } else {
            const center = map.getCenter();
            infoWindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation 미지원</h5></div>');
            infoWindow.open(map, center);
        }
    });

    const markers = [];

    const infowindow = new naver.maps.InfoWindow();

    const htmlMarker1 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/img/cluster-marker-1.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        },
        htmlMarker2 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/img/cluster-marker-2.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        },
        htmlMarker3 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/img/cluster-marker-3.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        },
        htmlMarker4 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/img/cluster-marker-4.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        },
        htmlMarker5 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/img/cluster-marker-5.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        };

    const markerClustering = new MarkerClustering({
        minClusterSize: 2,
        maxZoom: 8,
        map: map,
        markers: markers,
        disableClickZoom: false,
        gridSize: 120,
        icons: [htmlMarker1, htmlMarker2, htmlMarker3, htmlMarker4, htmlMarker5],
        indexGenerator: [10, 100, 200, 500, 1000],
        stylingFunction: function(clusterMarker, count) {
            $(clusterMarker.getElement()).find('div:first-child').text(count);
        }
    });

    function addInput() {
        const newNameInput = document.createElement("input");
        newNameInput.setAttribute("type", "text");
        newNameInput.setAttribute("class", "form-control");
        newNameInput.setAttribute("name", "name-input");
        newNameInput.setAttribute("placeholder", "명칭");
        newNameInput.setAttribute("aria-label", "명칭");

        const newAddressInput = document.createElement("input");
        newAddressInput.setAttribute("type", "text");
        newAddressInput.setAttribute("class", "form-control w-auto");
        newAddressInput.setAttribute("name", "address-input");
        newAddressInput.setAttribute("placeholder", "도로명 주소");
        newAddressInput.setAttribute("aria-label", "도로명 주소");

        const newPinButton = document.createElement("button");
        newPinButton.setAttribute("class", "btn btn-outline-secondary");
        newPinButton.setAttribute("name", "pin-button");
        newPinButton.textContent = "고정";

        const newLocationButton = document.createElement("button");
        newLocationButton.setAttribute("class", "btn btn-outline-secondary");
        newLocationButton.setAttribute("name", "location-button");
        newLocationButton.textContent = "위치로";

        const newInputGroup = document.createElement("div");
        newInputGroup.setAttribute("class", "input-group");
        newInputGroup.appendChild(newNameInput);
        newInputGroup.appendChild(newAddressInput);
        newInputGroup.appendChild(newPinButton);
        newInputGroup.appendChild(newLocationButton);

        document.getElementById("address").appendChild(newInputGroup);
    }

    function openWindow(marker, name, address) {
        infowindow.setContent('<div class="container">' +
            '<h4>' + name + '</h4>' +
            '<span>' + address + '</span>' +
            '</div>');

        infowindow.open(map, marker);
    }

    function closeWindow() {
        infowindow.close();
    }

    function toggleInputs(nameInput, addressInput) {
        if (nameInput.getAttribute("class") === "form-control") {
            nameInput.setAttribute("class", "form-control border border-success");
            addressInput.setAttribute("class", "form-control w-auto border border-success");
        } else {
            nameInput.setAttribute("class", "form-control");
            addressInput.setAttribute("class", "form-control w-auto");
        }
    }

    function toggleMarker(marker) {
        if (marker.getIcon()) {
            marker.setIcon(null);
        } else {
            marker.setIcon("/img/pin_default.png");
        }
    }

    function clearMarkers() {
        markers.forEach(marker => marker.setMap(null));
        markers.splice(0, markers.length);
        infowindow.close();
    }

    function addMarker() {
        const nameInputs = document.getElementsByName("name-input");
        const addressInputs = document.getElementsByName("address-input");
        const pinButtons = document.getElementsByName("pin-button");
        const locationButtons = document.getElementsByName("location-button");
        clearMarkers();
        for (let i = 0; i < addressInputs.length; i++) {
            const nm = nameInputs[i].value;
            const adrr = addressInputs[i].value;
            naver.maps.Service.geocode({
                query: adrr
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK || response.v2.meta.totalCount === 0) {
                    addressInputs[i].setAttribute("class", "form-control w-auto is-invalid");
                    return;
                }

                addressInputs[i].setAttribute("class", "form-control w-auto");

                const result = response.v2;
                const items = result.addresses;
                const marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(items[0].y, items[0].x),
                    map: map
                });

                markers.push(marker);

                naver.maps.Event.addListener(marker, "mouseover", () => openWindow(marker, nm, items[0].roadAddress));
                naver.maps.Event.addListener(marker, "mouseout", closeWindow);
                naver.maps.Event.addListener(marker, "click", () => {
                    toggleMarker(marker);
                    toggleInputs(nameInputs[i], addressInputs[i]);
                });
                pinButtons[i].addEventListener("click", () => {
                    toggleMarker(marker);
                    toggleInputs(nameInputs[i], addressInputs[i]);
                });
                locationButtons[i].addEventListener("click", () => openWindow(marker, nm, items[0].roadAddress));
            });
        }
    }
</script>
</body>
</html>