<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="map" style="width:100%;height:400px;"></div>
        </div>
        <div class="col">
            <div class="row" id="address">
                <div class="input-group">
                    <input type="text" class="form-control" name="name-input" placeholder="명칭" aria-label="명칭">
                    <input type="text" class="form-control w-auto" name="address-input" placeholder="도로명 주소" aria-label="도로명 주소">
                </div>
            </div>
            <div class="row">
                <button class="btn btn-outline-secondary"
                        type="button"
                        onclick="addInput()"
                ><i class="bi bi-plus-circle"></i></button>
            </div>
            <div class="row">
                <button class="btn btn-outline-secondary"
                        type="button"
                        onclick="addMarker()"
                >마커 추가</button>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script>
    const map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5666805, 126.9784147),
        zoom: 10,
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_RIGHT
        },
        mapTypeId: naver.maps.MapTypeId.NORMAL
    });

    const infoWindow = new naver.maps.InfoWindow();

    function onSuccessGeolocation(position) {
        const location = new naver.maps.LatLng(position.coords.latitude,
            position.coords.longitude);

        map.setCenter(location);
        map.setZoom(10);
    }

    $(window).on("load", function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(onSuccessGeolocation, null);
        } else {
            const center = map.getCenter();
            infoWindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation 미지원</h5></div>');
            infoWindow.open(map, center);
        }
    });

    let markers = {};
    const infowindow = new naver.maps.InfoWindow();

    function addInput() {
        const newNameInput = document.createElement("input");
        newNameInput.setAttribute("type", "text");
        newNameInput.setAttribute("class", "form-control");
        newNameInput.setAttribute("name", "name-input");
        newNameInput.setAttribute("placeholder", "명칭");
        newNameInput.setAttribute("aria-label", "명칭");

        const newAddressInput = document.createElement("input");
        newAddressInput.setAttribute("type", "text");
        newAddressInput.setAttribute("class", "form-control w-auto");
        newAddressInput.setAttribute("name", "address-input");
        newAddressInput.setAttribute("placeholder", "도로명 주소");
        newAddressInput.setAttribute("aria-label", "도로명 주소");

        const newInputGroup = document.createElement("div");
        newInputGroup.setAttribute("class", "input-group");
        newInputGroup.appendChild(newNameInput);
        newInputGroup.appendChild(newAddressInput);

        document.getElementById("address").appendChild(newInputGroup);
    }

    function clearMarkers() {
        const markerInstances = Object.values(markers);
        for (let i = 0; i < markerInstances.length; i++) {
            markerInstances[i].setMap(null);
        }

        markers = {};
        infowindow.close();
    }

    function addMarker() {
        const nameInputs = document.getElementsByName("name-input");
        const addressInputs = document.getElementsByName("address-input");
        clearMarkers();
        for (let i = 0; i < addressInputs.length; i++) {
            const nm = nameInputs[i].value;
            const adrr = addressInputs[i].value;
            naver.maps.Service.geocode({
                query: adrr
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK || response.v2.meta.totalCount === 0) {
                    addressInputs[i].setAttribute("class", "form-control w-auto is-invalid");
                    return;
                }

                const result = response.v2;
                const items = result.addresses;
                const marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(items[0].y, items[0].x),
                    map: map
                });
                const infoContent = '<div class="container">' +
                    '<h4>' + nm + '</h4>' +
                    '<span>' + items[0].roadAddress + '</span>' +
                    '</div>';

                markers = {
                    ...markers,
                    [adrr]: marker
                };

                naver.maps.Event.addListener(marker, "mouseover", function(e) {
                    infowindow.setContent(infoContent);
                    infowindow.open(map, marker);
                });

                naver.maps.Event.addListener(marker, "mouseout", function(e) {
                    infowindow.close();
                });

                addressInputs[i].setAttribute("class", "form-control w-auto");
            });
        }
    }
</script>
</body>
</html>